name: Docker Compose CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  IMAGE_NAME: python-ci-docker-demo

jobs:
  docker-compose-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build services using docker-compose
        run: docker compose build

      - name: Start services
        run: docker compose up -d

      - name: Wait for app healthcheck
        run: |
          echo "Waiting for app to become healthy..."
          for i in {1..10}; do
            STATUS=$(docker inspect --format='{{.State.Health.Status}}' python_table || echo "starting")
            if [ "$STATUS" = "healthy" ]; then
              echo "App is healthy"
              exit 0
            fi
            sleep 5
          done
          echo "App failed healthcheck"
          docker compose logs
          exit 1

      - name: Stop services
        if: always()
        run: docker compose down

  docker:
    runs-on: ubuntu-latest
    needs: docker-compose-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker build -t ghcr.io/$OWNER/${{ env.IMAGE_NAME }}:latest ./app

      - name: Push Docker image
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker push ghcr.io/$OWNER/${{ env.IMAGE_NAME }}:latest

